# Database
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=emergencytool
DATABASE_USER=postgres
DATABASE_PASSWORD=willygailo29

# Redis
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your-secret-key-here

# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
